.flex-column {
  display: flex;
  flex-direction: column;
}

.main-container {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  width: fit-content;
  text-align: center;
  font-weight: 700;
}

.secondary-container {
  border-radius: 1.5em;
  max-width: 58em;
  background: linear-gradient(180deg, #F5F5F5  0%, #FCFCFC 60%);
  box-shadow: 0 1px 2px 0 rgba(106, 105, 105, 0.1), 0 1px 2px 0 rgba(80, 80, 80, 0.1);
  margin: 1em;
}

.cards-container {
  display: flex;
}

.divider {
  width: 1.125em;
  height: 0.2em;
}

.card {
  width: 100%;
  min-height: 8.125em;
  position:relative;
  color: #F5F5F5;
}

.text-container {
  margin-top: 1.375em;
  align-items: center;
}

.text {
  margin: 0;
  max-width: 100%;
  font-size: 1em;
  text-align: center;
}

.card__text {
  font-size: 0.75em;
  line-height: 1.5em;
}

.card__text--big {
  margin-top: -0.4em;
  margin-bottom: 0;
  font-size: 1.25em;
  font-weight: 700;
  padding-bottom: 0.5em;
}

.card__leader {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 4em;
  background: linear-gradient(90deg, #2F53FF 0%, #8C1AEC 100%);
}

.card__mates {
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 3em;
  background: linear-gradient(90deg, #FF9761 0%, #FF424E 100%);
}

.card__image {
  position: absolute;
  z-index: 10;
}

.card__image_leader {
  right: 0em;
}

.subtitle {
  font-size: 1.125em;
  font-weight: 700;
  text-align: center;
  width: 70%;
}

.link {
  color: #2CACD6;
  margin-bottom: 2.5em;
  font-weight: 700;
}

.darkest-grey {
  color: #373A3C
}

@media only screen and (min-width: 600px) {

  .title {
    font-size: 1.875em;
    margin-bottom: 0.25em;
  }

  .cards-container {
    justify-content: stretch;
    flex-direction: row;
  }

  .card__leader {
    border-bottom-left-radius: 1.5em;
  }

  .card__mates {
    border-radius: 4em 1.5em 3em 0em;
  }

  .text-container--left {
    margin-right: 4.5em;
    margin-left: 2em;
  }

  .text-container--right {
    margin-left: 4.5em;
    margin-right: 2em;
  }

  .card__text--media:after {
    content: 'Uncover unique experiences created by trusted TripLeaders from arround the world.'
  }

  .card__image {
    height: 4.75em;
    bottom: -2.375em;
  }

  .under-title-text {
    max-width: 60%;
  }

  .subtitle {
    margin-top: 1.25em;
  }

}

@media only screen and (max-width: 600px) {

  .title {
    font-size: 1.375em;
    margin: 1em 2em 0em 2em;
  }

  .secondary-container {
    border-top-right-radius: 4em;
  }

  .cards-container {
    justify-content: stretch;
    flex-direction: column;
  }

  .card__mates {
    border-radius: 0em 0em 1.5em 3em;
  }

  .text-container--left {
    margin-right: 2.25em;
    margin-left: 1.25em;
  }

  .text-container--right {
    margin-left: 2.25em;
    margin-right: 1.25em;
  }

  .card__text--media:after {
    content: 'Trusted TripLeaders from arround the world have planned hundreds of unique experiences.'
  }

  .card__image {
    height: 3.75em;
  }

  .card__image_leader {
    bottom: -1.875em;
  }

  .card__image_mates {
    top: -1.875em;
  }

  .subtitle {
    margin-top: 0;
    max-width: 80%;
  }

  .under-title-text {
    max-width: 80%;
  }

}

@media only screen and (min-height: 400px) {

  .main-container {
    height: 100vh;
  }

}
