<div class="main-container flex-column">
  <h1 class="title darkest-grey">
    How we connect travelers...
  </h1>
  <div class="secondary-container">
    <div class="cards-container">
      <div class="card card__leader">
        <div class="flex-column text-container text-container--left">
          <p class="text card__text">
            TRIPLEADERS
          </p>
          <div class="card__text card__text--big">
            Plan & create
          </div>
          <p class="text card__text">
            Organize your dream trip, find TripMates to join you on the adventure.
          </p>
        </div>
        <img class="card__image card__image_leader" src="../assets/TripLeader.png">
      </div>
      <div class="divider"></div>
      <div class="card card__mates">
        <div class="flex-column text-container text-container--right">
          <p class="text card__text">
            TRIPMATES
          </p>
          <p class="card__text card__text--big">
            Discover & join
          </p>
          <p class="text card__text card__text--media">

          </p>
        </div>
        <img class="card__image card__image_mates" src="../assets/TripMates.png">
      </div>
    </div>
    <div class="under-title flex-column text-container">
      <h2 class="subtitle darkest-grey">
        Connect to share travel costs
      </h2>
      <p class="text under-title-text darkest-grey">
        Become friends with like-minded travelers form arround the world to share incredible experiences and create memories together.
      </p>
      <p class="link">
        FIND OUT MORE
      </p>
    </div>
  </div>
</div>

